<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        h1{text-align:center;padding:5px;}
        div{
            color:black;
            padding:10px;
            border:2px solid black;
            border-radius: 5px;
            margin-bottom: 50px;
        }
        a{
            background-color:rgb(53, 51, 51);
            color:white;
            padding:14px 25px;
            text-align: center;
            display:inline-block;
        }
        li{
            padding: 5px;
        }
    </style>
</head>
<body>
    <h1>This is blind page</h1>
    <div>
        grade 1:
        <ul>
        <li><a href="slb" target="_blank">slow learner</a></li>
        <li><a href="flb" target="_blank">fast learner</a></li>
        </ul>
    </div>
    <div>
        grade 2:
        <ul>
        <li><a href="slb1" target="_blank">slow learner</a></li>
        <li><a href="flb1" target="_blank">fast learner</a></li>
        </ul>
    </div>
</body>
</html>
